@charset "UTF-8";

/*******************************
* 個別スタイル
********************************/

#chatInput {
    padding: 0px !important;
    height: 50px !important;
    min-height: 50px !important;
}

#chatStatus {
    font-size: 12px !important;
}

#chatView {
    padding-top: 50px !important;
    display: block !important;
}